body {
  background: #3f3f3f !important;
  min-height: 100vh;
  width: 70%;
  margin: auto;
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  flex: 0.6;
  display: flex;
  align-items: center;
}

.logo {
  height: 150px;
}

.navbar {
  flex: 0.3;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 100%;

  color: white;
  font-family: Ubuntu;
}

.navitem {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  margin: auto;
  height: 2rem;
  width: 150px;
  text-align: center;
}

.branding > img, .branding > h1, .navbar > a {
   padding: max(10px, 1%);
   margin: max(10px,1%);
}

a:hover {
  color: #E0B0FF;
}

a {
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
}

.houses {
  display: none;
  transform: scale(1.2);
}

.houses > img {
  width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

.about {
  background: url("/images/branding/netherrite.png");
  background-size: 480px 280px;
  padding: 10px;
  width: 392px;
  height: 134px;
  border: 5px solid gray;
  border-radius: 10px;

  font-family: Ubuntu;
  color: white;
}

.more {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: center;
}


br {
  line-height: 500%;
}

.memberslist {
  display: flex;
  flex-direction:  column;

}

.member {
  display: flex;
}

.memberdesc {
  display: flex;
  flex-direction: column;
}

.memberdesc > h2 {
  font-size: 1.8rem;
  margin-bottom: 0;

  color: white;
  font-family: Ubuntu;
}

.memberdesc > small {
  font-size: 0.9rem;
  line-height: 1.5;

  color: white;
  font-family: Ubuntu;
}

.memberdesc > text {
  font-size: 1.4rem;
  line-height: 2;

  color: white;
  font-family: Ubuntu;
}

.membercontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.membersocials {
  display: flex;
  justify-content:  space-around;
  width: 400px;
}

.fab, .fa, .fas {
  color: white;
  text-decoration: none;
  transform: scale(1.5);
}

.memberavatar {
  height: 400px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.banner > img {
  min-width: 400px;
}

hr {
   width: 30%;
   margin-top: 40px;
   margin-bottom: 40px;
}

/* Media */
@media all and (max-width: 1100px) {
   .header {
      flex-wrap: wrap;
   }

   .navitem {
     border: 2px solid white;
   }

     .branding, .navbar {
        flex-wrap: wrap;
        justify-content: center;
   }

   .membercontent {
     align-self: center;
   }

   .memberdesc {
     padding-bottom: 50px;
   }

   .main, .header {
      flex-basis: 100%;
      flex-direction: column;
  }

   .member {
      flex-basis: 100%;
      flex-direction: column;
   }

   .memberavatar {
     flex: 1;
     width: 300px;
     align-self: center;
  }

  .membercontent, .branding > h1 {
    text-align: center;
  }

  .membersocials {
    align-self: center;
  }
}

@media all and (max-width: 480px) {
  .membersocials {
    width: 20px;
    padding: 20px;
    margin: 20px;
    align-self: center;
    flex-direction: column;
  }

  .fab, .fa, .fas {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .banner {
    display: none;
  }
}
